name: Check GitHub Actions

on: workflow_call

permissions: {}

jobs:
  check-actions:
    timeout-minutes: 30
    name: Check GitHub Actions
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - name: checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.55.1
      - name: Linting
        run: |
          shellcheck --version
          ghalint run
          actionlint -color
